@tailwind base;
@tailwind components;
@tailwind utilities;

/* make background black and text gray-50 */
@layer base {
    body {
        @apply bg-gray-800;
    }
    h1, h2, h3, h4, h5, h6, p, span, a, li, button, label, input {
        @apply text-gray-400;
    }
}

@layer utilities {
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}